---
title: Blog Post
entity: Post
sidebar_id: blog
---

<form>
  <div class="row-fluid">
    <div class="span8">
      <%= partial 'content_form' %>
      <%= partial 'comments' %>
    </div>

    <div class="span4">
      <%= partial 'publication' %>
      <%= partial 'parent_blog_settings' %>
      <%= partial 'image_settings' %>
      <%= partial 'url_settings' %>
    </div>
  </div>
</form>
