---
title: Industry Deal
entity: Deal
---

<form>
  <div class="row-fluid">
    <div class="span8">
      <fieldset>
        <legend>Deal Content</legend>

        <%= partial 'title' %>

        <label for="dealHeader">Deal Header</label>
        <input id="dealHeader" type="text" class="input-block-level" placeholder="e.g. Save 25% Off Tickets!">

        <%= partial 'body', locals: { label: 'Description', rows: 4 } %>

        <div class="row-fluid">
          <div class="span9">
            <label for="dealButton">Button Text</label>
            <input id="dealButton" type="text" class="input-block-level" maxlength="40" placeholder="Save Today">
            <span class="help-block">Button Text is limited to 40 characters</span>
          </div>

          <div class="span3">
            <label>Example Button</label>
            <button class="btn" id="exampleButton">Save Today</button>
          </div>
        </div>

        <label for="dealURL">Deal URL</label>
        <input id="dealURL" type="url" class="input-block-level">
      </fieldset>

      <%= partial 'comments' %>
    </div>

    <div class="span4">
      <%= partial 'publication' %>
      <%= partial 'image_settings' %>
      <%= partial 'url_settings' %>
      <%= partial 'menu_settings' %>
    </div>
  </div>
</form>
